.option-container {
    display: flex;
    padding-top: var(--tw-size-4);
    padding-bottom: var(--tw-size-4);
    justify-content: space-evenly;
}

.option-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-flex {
    margin-left: var(--tw-size-4);
    margin-right: var(--tw-size-4);
}


.option-box {
    display: block;
    padding: var(--tw-size-4);
    width: var(--tw-size-36);
    border-radius: var(--tw-border-radius-lg);
    background-color: rgb(var(--tw-color-slate-100) / var(--tw-bg-opacity));
}

.option-box[data-active="true"]{
    background-color: rgb(var(--tw-color-red-400) / var(--tw-bg-opacity));
}


.option-div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: inherit;
}

.option-span {
    margin-left: 10px;
    font-weight: var(--tw-font-weight-medium);
    color: rgb(var(--tw-color-gray-900) / var(--tw-text-opacity));
    background-color: inherit;
}

.option-img {
    background-color: inherit;
}
