{% load static %}

{% block tag %}
<link rel="stylesheet" href="{% static 'css/file.css' %}">
{% endblock tag %}


<!-- HTML !-->


    <div class="body">

      <button class="button-85" id="send" role="button" style="margin-top: 15px;" >Send</button>

      <div style="margin-top: 10px;">

        <span style="padding: 8px 12px 2px 12px;" >Click here to add filter</span>

          <select multiple data-placeholder="Select Level">
              {% for i in data.level %}
              <option value="{{i}}">Level {{i}}</option>
              {% endfor %}
            </select>
            
        </div>

    </div>


<div class="grid-container">

    <div class="first-box">

        <div class="file-name-container">

            <div class="folder-name">
                <img src="{% static 'assets/collection.svg' %}" alt="collection" width="25" height="25">
                <h3><b>Select Atleast 1 Level</b></h3>
            </div>

        </div>
    </div>

    <div class="second-box">

        <div class="path-name-container">

            <div class="path-name">
                <img src="{% static 'assets/file.svg' %}" alt="file" width="25" height="25">
                <h3><b>Selected File</b></h3>
            </div>

        </div>

    </div>

    <!-- <div class="second-box">

        <div class="path-name-container">

            <div class="path-name">
                <img src="{% static 'assets/file.svg' %}" alt="file" width="25" height="25">
                <h3><b>Selected File</b></h3>
            </div>

        </div>

    </div> -->

</div>